/** {*/
/*    cursor: default;*/
/*    -webkit-user-select: none;*/
/*    white-space: nowrap:*/
/*}*/
/*.clock {*/
/*    font-size: 6rem;*/
/*    font-weight: bold;*/
/*    display: inline-block;*/
/*    padding: 1.5rem;*/
/*    background-color: rgba(0, 0, 0, 0.5);;*/
/*    color: #fff;*/
/*    border-radius: 1rem;*/
/*}*/
/**/
/*.clock span {*/
/*    padding: 0.5rem;*/
/*    border-radius: 0.5rem;*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*    margin: 0 0.5rem;*/
/*}*/

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back {
    display: flex;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background: #D6B27D;
    border: 2px solid #CBA875;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.front {
    display: flex;
    flex-direction: column;
    width: 266px;
    height: 266px;
    background: #FFF7E9;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.25), 3px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.headline {
    display: flex;
    text-align: center;
    align-items: baseline;
    font-size: 20px;
    font-family: 'Brush Script MT';
    margin: 2px 2px 2px 2px;
    padding-top: 20px;
    padding-left: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #512e04;

}

#lines {
    position: relative;
    width: 240px;
    padding-top: 5px;
}

.date {
    padding-left: 10px;
    font-size: 12px;
    display: flex;
}

.main-body {
    position: absolute;
}

.input {
    display: flex;
    padding-top: 60px;
    padding-left: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 200px;

}

.container {
    /* display: flex; */
    flex-direction: column;
    margin-top: 5px;
    padding-left: 35px;
    max-height: 160px;
    overflow-y: auto;
}

.item {
    display: flex;
    width: 220px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 6px;
    align-items: center;

}

.item-input {
    padding-left: 6px;
    background: none;
    width: 180px;
    outline: none;
    color: #464545;
    border: none;
    font-size: 11px;

}

/* .doneButton {
    font-size: 3px;
    background: none;
    outline: none;
    color: #757575;
    border: none;
    cursor: pointer;
} */

.doneButton {
    width: 10px;
    height: 12px;
    background: none;
    outline: none;
    border: #d7bc9d solid 1.5px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

.doneButton::before {
    content: "\2713";
    color: transparent;
    transition: color 0.3s ease;
}

.doneButton.clicked::before {
    color: #512e04;
}


.clear-all {
    display:flex;
    border: none;
    background: none;
    outline: none;
    padding-left: 90px;
    font-size: 10px;
    color: #512e04;
    font-family: 'Brush Script MT';
    cursor:pointer;
}
